@use './variables.scss';
@use './element-plus.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;  
  }
}

